doctype html
html
	head
		- var page_name = "Main Page"
		include ./includes/head.pug
	body
		include ./includes/header.pug
		main
			section
				.container
					|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolor debitis est pariatur esse, earum fugiat? Accusantium repudiandae necessitatibus laboriosam, voluptatibus, labore corrupti quibusdam cum quos repellat perspiciatis similique, illo!
					h1 123
		include ./includes/footer.pug