.paggination
	a(href="").tofirst
	a(href="").toprev
	a(href="").paggination__item 1
	a(href="").paggination__item.active 2
	a(href="").paggination__item 3
	a(href="").paggination__item 4
	a(href="").paggination__item 5
	a(href="").tonext
	a(href="").tolast